
/*.wrapper{
    margin-top: 4%;
    height: 40px;
    min-width:80px;
    display: flex;
    align-items:center;
    justify-content: center ;
    background: rgb(17, 16, 16);
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}*/
.botoes span{
    width:100%;
    text-align:center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.botoes span.num{
    font-size: 15px;
    border-right: 2px solid rgba (0,0,0,0.2);
    border-left: 2px solid rgba (0,0,0,0.2);
    pointer-events: none;
}