.SocialMediaButtonGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #323538;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    width: 48%;
    cursor: pointer;
    border: none;
}

.SocialMediaButtonGoogle p {
    margin: 0 5px 0 5px;
}