.PRbackground {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.PRbloco {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}