.Cbackground {
    height: 100vh;
    display: flex;
}

.Cbloco {
    height: 100%;
    width: 50%;
}

#Cright {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#Cleft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cbloco img {
    height: 90%;
}