.Cbackground {
    height: 100vh;
    display: flex;
}

.Cbloco {
    height: 100%;
    width: 50%;
    padding-top: 55px;
}

#Cright {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#Cleft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cbloco .cadastroPromo {
    max-width: 100%;
    max-height: 90%;
    height: auto;
    width: auto;
}

    @media (max-width: 768px) {
        .Cbloco#Cright {
            display: none;
        }

        .Cbloco#Cleft {
            width: 100%;
        }
    }