.Contrato {
    padding: 1rem;
    text-align: justify;
}

.main--termo,
.main--marca {
    text-align: center;
    margin: 1rem;
}

.Contrato p {
    text-indent: 2rem;
    font-weight: normal;
}

.capitulo {
    font-weight: bold;
    margin-left: 2rem;
}