.botoes {
    display: flex;
    justify-content: space-evenly;
    display: inline-flex;
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw; 
    flex-wrap: wrap;

}
select {
    justify-content: space-evenly;
        display: inline-flex;
        background: #121213;
        color: #fff;
        margin: 1vw;
        border-radius: 30px;
        transition: 0.5s;
        height: 3rem;
        width: 6rem;
        font-size:medium;
        text-align: center;
        
}
    
select:hover {
    background-color: #2e2d2d;
    border-radius: 30px;
}
.addCarrinho{
    display: flex;
    flex: 1;
}
#botaoAdicionarCarrinho {
    
    background: #121213;
    color: #fff;
    border-radius: 30px;
    transition: 0.5s;
    height: 3rem;
    width: 15rem;
    font-size: large;
}

#botaoAdicionarCarrinho:hover {
background: #08db8d;
color: black;
font-weight: 600;

}

.wrapper{
    height: 3rem;
    width: 6rem;
    display: flex;
    align-items:center;
    align-self: center;
    justify-content: center ;
    background: rgb(17, 16, 16);
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.wrapper span{
    width:100%;
    text-align:center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.wrapper span.num{
    font-size: 15px;
    border-right: 2px solid rgba (0,0,0,0.2);
    border-left: 2px solid rgba (0,0,0,0.2);
    pointer-events: none;
}
