.botoes {
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw; 
    border-box: box-sizing;
}

select {

    background: #121213;
    color: #fff;
    border-radius: 30px;
    transition: 0.5s;
    font-size:medium;
    text-align: center;
    width: 40vw;
    height: 8vh;
    margin-top: 3vh;
}
    
select:hover {
    background: #2e2d2d;
}

button {
    background: #121213;
    color: #fff;
    border-radius: 30px;
    transition: 0.5s;
    width: 60vw;
    height: 8vh;
    font-size: large;
}

button:hover {
    background: #08db8d;
    color: black;
    font-weight: 600;

}

.botoesselect {
    display: flex;
    justify-content: space-around;
    border-box: box-sizing;
    
}

.btncarrinho {
    display: flex;
    justify-content: center;
}
